/* ----------------------------------------------- 
             PRE-IE7-SPECIFIC OVER-RIDES  
----------------------------------------------- */


/* these selectors not well supported pre-IE6 */
* html abbr,
* html acronym {
  cursor:help;
}

/*-------------------------*/
/* =DISAPPEARING LIST ICON */
/* http://positioniseverything.net/explorer/ie-listbug.html */

ul, ol, dl {
  position: relative;    
}

/*-------------------------*/

/* PNG substitution */



/*-------------------------*/
/* =BOX MODEL */




/*-------------------------*/
/* =MISC */


#secondary h4 {
  clear: both;
  padding-top: 7px;
}

#primary {
  margin-bottom: 20px;
}
